<div class="main posts-main">
  <div class="container">
    <div class="user-show-box">
      <% @posts.each do |post| %>
        <div class="post-box">
          <div class="user-index-box">
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>

          <div class="show-box">
            <%= link_to("/posts/#{post.id}") do %>
              <%= image_tag post.image_url if post.image? %>
            <% end %>
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>
